.category {
    display: flex;
    gap: 2rem;
}
.category__link{
    background:linear-gradient(0deg, rgba(5, 5, 2, 0.5),rgba(30, 30, 30, 0.5) ,#2c2c30 );
    width: 30rem;
    height: 14rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.category__section{
    font-size: 3rem;
    text-decoration: none;
    font-family: Roboto;
    font-weight: bold;
}