.busqueda{
  background:linear-gradient(0deg, rgba(0,0,0 ,0.5),rgba(0,0,0 ,0.5)), #1b1b32 ;
  min-height: 100vh;
  margin-bottom: 1rem;
}
.busqueda__input{
  padding: .5rem 3rem;
  width: 100%;
  font-size: 3rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background:linear-gradient(0deg, rgba(1, 2, 52, 0.2),rgba(2, 1, 37, 0.2)), #1b1b32;
}
.busqueda__formulario{
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 20rem;

 
}
.busqueda__button{
  width: 13rem;
  height: 5rem;
  margin-left: 5rem;
}