.searchCard__title{
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: bold;
}

.searchCard__movie{
    margin-bottom: 5rem;
}
.searchCard__image{
    height:60rem;
    width: 40rem;
}
@media(min-width: 568px){
    .searchCard__image{
        width: 100%;
    }
}