.description{
    height: 91vh;    
    display: flex;
    align-items: center;
    background:linear-gradient(0deg, rgba(0,0,0 ,0.5),rgba(0,0,0 ,0.5)), #1b1b32 ;
}
.description__image{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    
}
.description__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
    height: 100%;
}
.description__poster{
    width: 100%;
    border-radius: 1rem;
}
@media (min-width:1200px){
    .description__poster{
        height: 50rem;
    }
}
.description__container{
    width: 90%;
    height: 93%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.description__streamming{
    background:linear-gradient(0deg, rgba(0,0,0 ,0.5),rgba(0,0,0 ,0.5)), #1b1b32 ;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius:2rem ;
}
.description__disney{
    border-radius: 1rem;
}
.description__links{
    display: flex;
    flex-direction: column;
}
.description__disney{
    height: 4rem;
    width: 4rem
}
.description__contenido{
    width: 90%;
    margin: 2rem auto;
}

.description__especification{
    height: 100%;
    width: 100%;
}
.description__puntuation{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #1b1b32;
    height: 6rem;
    width: 6rem;
    margin: 2rem 0;
    
}
.description__average{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
}
.description__porcen{
    font-size: 1rem;
    font-weight: bold;

}
.description__h3{
    line-height: 1.7;
}
